<h1>To-Do List</h1>

<%= turbo_frame_tag "task_form" do %>
  <%= render "form", task: Task.new %>
<% end %>

<div id="tasks">
  <%= turbo_frame_tag "tasks" do %>
    <%= render @tasks %>
  <% end %>
</div>
